@import url('https://fonts.googleapis.com/css?family=Cairo');

body {
  background: papayawhip;
  font-family: Cairo;
}

h4 {
  text-align: center;
}

#toggle {
  &.active span:first-child { display: none; }
  &:not(.active) span:last-child { display: none; }
}
